body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  padding: 15px;
  text-align: center;
}
h1,td, p{
  color: white;
}
table {
  background: rgb(165, 208, 234);
  border-collapse: collapse;
}
thead {
  background: rgb(90, 142, 191);
  color: white;
}
th, td {
  padding: 10px;
}
